body{
font-family: Arial;
margin:0;
background:#f4f4f4;
color:#333;
}

header{
background:#0b7285;
color:white;
padding:30px;
text-align:center;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

h2{
color:#0b7285;
}

table{
width:100%;
border-collapse:collapse;
}

th, td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

th{
background:#0b7285;
color:white;
}

img{
width:100%;
max-width:700px;
display:block;
margin:auto;
border-radius:10px;
}

footer{
background:#0b7285;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}